@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 3rem;
}

header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.App-link {
  color: #61dafb;
}

.download-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.download-progress-spinner {
  position: absolute;
}

.input-fields-container {
  display: flex;
}

.modal-ex-btn {
  position: absolute;
  right: 0px;
  padding: 1rem;

  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.grid-text-field-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.text-field {
  margin: .4rem;
}

.grid {
  border: double white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-grid;
  --cell-size: min(
    calc(85vw / var(--num-columns)),
    calc(85vh / var(--num-rows))
  );
  grid-template-columns: repeat(var(--num-columns), var(--cell-size));
  grid-template-rows: repeat(var(--num-rows), var(--cell-size));
}

.modal-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
}

.modal-grid-result img {
  width: min(24vw, 20vh);
  height: min(24vw, 20vh);
}

.modal-ex-btn:hover {
  cursor: pointer;
}

.cell-item:hover {
  cursor: pointer;
}

.modal-grid-result:hover {
  cursor: pointer;
}

.cell-item {
  display: flex;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.modal-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-holder {
  position: fixed;
  background-color: white;
  border-radius: 9px;
  top: 50vh;
  left: 50vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 45vh; /*something to keep it consistent across devices*/
  width: auto;
  height: auto;
  overflow: hidden;

  transition: all ease;
}

.modal {
  color: black;
  width: auto;
  height: auto;
  --modal-margin: 1rem;
  margin: var(--modal-margin);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: large;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: -0.3rem;
  margin-bottom: -0.3rem;
}

.modal-divider {
  width: calc(100% + (var(--modal-margin) * 2));
  border: 1px solid #ddd;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  margin-left: calc(var(--modal-margin) * -1);
  display: inline-block;
}

.modal-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

.modal-search-bar {
  margin-bottom: 1rem;
}

.modal-grid-result {
  transition: all 0.2s ease;
}

.tags-container {
  margin: 1rem;
}

.tag {
  background-color: lightskyblue;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0.2rem;
  display: inline-flex;
  cursor: pointer;
}

.tag-text {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
